body {
    font-family: sans-serif;
    margin: 0px;
    background-color: #19191b;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #202429;
}

.title-fav-container {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.search-logout-container {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.title {
    color: aliceblue;
    margin-left: 45px;
    cursor: pointer;
}

.title:hover {
    transform: scale(1.1)
}

.favorites {
    padding: 5px;
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: black;
}

.favorites:hover {
    background-color: black;
    border-radius: 5px
}

.search-input {
    margin-top: 16px;
    padding-left: 10px;
    height: 26px;
    width: 300px;
    font-size: 16px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.logout-button {
    width: 111px;
    margin-top: 10px;
    margin-left: 30px;
    height: 44px;
    border: 0px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button:hover {
    background-color: black;
    border-radius: 5px;
}

.countries-wrapper {
    margin: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.country-container {
    margin-top: 80px;
    margin-right: 60px;
    width: 340px;
    height: 275px;
    cursor: pointer;
}

.text-decoration {
    margin-top: 240px;
    color: white;
    font-size: 25px;
}

.remove-btn-decoration {
    width: 37px;
    height: 44px;
    background-color: #82747452;
    border: 0px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: 300px
}

.fav-btn-decoration {
    width: 37px;
    height: 44px;
    background-color: #82747452;
    border: 0px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.loader {
    font-size: 25px;
    color: white;
}

.hidden {
    display: none;
}

.warning {
    color: red;
    visibility: hidden;
    margin-top: 3px;
}

@media only screen and (max-width: 780px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 40px;
    }
    .favorites {
        font-size: 24px;
    }
    .search-input {
        width: 520px;
    }
    .title-fav-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .search-logout-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .countries-wrapper {
        margin: 2px;
    }
    .loader {
        margin-top: 24px;
        margin-left: 70px;
        height: 39px;
    }
    .country-container {
        margin-left: 90px;
    }
    .logout-button {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:555px) {
    .search-input {
        width: 370px
    }
    .logout-button {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:500px) {
    .country-container {
        margin-right: 0px;
        margin-left:0px;
    }
    .title {
        margin-left: 19px;
    }
    .logout-button {
        margin-bottom: 20px;
    }
    .search-input {
       width: 262px
    }
    .loader{
        font-size:20px
    }
}